%div#header
	%h1 My Dashboard

	%div#errors
		- if notice
			%div#notice
				= notice
		- if alert
			%div#alert
				= alert

%div#dashboard_container
	%div.spacer
		%br/
	
	%div#resume_preview
		%div
			%h3
				= "#{current_user.display_name}'s Resume"
		
			%h4 Employment History
			- if @employments
				%ul
					= render :partial => "employment", :collection => @employments
			- else
				%ul
					%li No employment records. Add one!
			
			%h4 Education History
			- if @educations
				%ul
					= render :partial => "education", :collection => @educations
			- else
				%ul
					%li No education records. Add one!

	%div.spacer
		%br/

	%div#sidebar
		%dl
			%dt
				My Resume
			%dd
				= link_to "Edit personal information", edit_profile_path
			%dd
				= link_to "Add employment history", new_employment_path
			%dd
				= link_to "Add education history", new_education_path
			%dd
				= link_to "Add featured work", "#"
		%dl
			%dt
				My Portfolio
			%dd
				= link_to "Add portfolio item", "#"
		%dl
			%dt
				My Account
			%dd
				= link_to "Account settings", "#"
			%dd
				= link_to "Sign out", destroy_user_session_path
				
%div#footer