%div#header
	%h1 My Dashboard

	%div#errors
		- if notice
			%div#notice
				= notice
		- if alert
			%div#alert
				= alert

%div#dashboard_container
	%div.spacer
		%br/

	%div#resume_preview
		%div
			%h3
				= "#{current_user.display_name}'s Resume"

			%h4 Employment History
			- if @employments
				%ul
					= render :partial => "employment", :collection => @employments
			- else
				%ul
					%li No employment records. Add one!

			%h4 Education History
			- if @educations
				%ul
					= render :partial => "education", :collection => @educations
			- else
				%ul
					%li No education records. Add one!

			%h4 Publications
			- if @publications
				%ul
					= render :partial => "publication", :collection => @publications
			- else
				%ul
					%li No publications. Add one!

			%h4 Projects
			- if @projects
				%ul
					= render :partial => "project", :collection => @projects
			- else
				%ul
					%li No projects. Add one!

	%div.spacer
		%br/

	%div#sidebar
		%dl
			%dt
				My Resume
			%dd
				= link_to "Edit personal information", edit_profile_path
			%dd
				= link_to "Add employment history", new_employment_path
			%dd
				= link_to "Add education history", new_education_path
			%dd
				= link_to "Add publication history", new_publication_path
		%dl
			%dt
				My Portfolio
			%dd
				= link_to "Add project", new_project_path
		%dl
			%dt
				My Account
			%dd
				= link_to "Account settings", "#"
			%dd
				= link_to "Sign out", destroy_user_session_path

%div#footer
