%div#header
	%h1 My Resume

%div#content
	%h3 New employment record
	= form_for(@employment) do |f|
		%div
			= f.label :job_title, :class => :block
			= f.text_field :job_title, :class => "title block", :title => "your job title here"
		%div
			= f.label :company_name, :class => :block
			= f.text_field :company_name, :class => "title block", :title => "name of the company"
		%div
			= f.label :location, :class => :block
			= f.text_field :location, :class => "title block", :title => "where they are located"
		%div
			= f.label :summary, :class => :block
			= f.text_area :summary, :class => "title block", :title => "short summary of your time here"
		= render :partial => "shared/date_fields", :locals => { :f => f, :hint => "Still at this job?" }
		%div
			= f.submit "Save", :class => "save_button"

%div.spacer
	%br/

%div#sidebar
	%h3 
	
%div#footer