%div#header
	%h1 My Portfolio

%div#content
	%h3 New project
	= form_for(@project) do |f|
		%div
			= f.label :title, :class => :block
			= f.text_field :title, :class => "title block", :title => "title of the project"
		%div
			= f.label :institution_name, :class => :block
			= f.text_field :institution_name, :class => "title block", :title => "where you were working/studying"
		%div
			= f.label :location, :class => :block
			= f.text_field :location, :class => "title block", :title => "location of the institution"
		%div
			= f.label :description, :class => :block
			= f.text_area :description, :class => "title block", :title => "short summary of the project"
		%div
			= f.label :hyperlink, :class => :block
			= f.text_field :hyperlink, :class => "title block", :title => "link to more information"
		%div
			= f.label :image
			= f.file_field :image
		= render :partial => "shared/date_fields", :locals => { :f => f, :hint => "Still working on this project?" }
		%div
			= f.submit "Save", :class => "save_button"

%div.spacer
	%br/

%div#sidebar
	%h3 
	
%div#footer