%div#header
	%h1 My Resume
	
	%div#errors
		- if notice
			%div#notice
				= notice
		- if alert
			%div#alert
				= alert

%div#content
	%h3 New education record
	= form_for(@education) do |f|
		%div
			= f.label :major, :class => :block
			= f.text_field :major, :class => "title block", :title => "your major here"
		%div
			= f.label :institution_name, :class => :block
			= f.text_field :institution_name, :class => "title block", :title => "name of the college/university"
		%div
			= f.label :location, :class => :block
			= f.text_field :location, :class => "title block", :title => "where they are located"
		%div
			= f.label :summary, :class => :block
			= f.text_area :summary, :class => "title block", :title => "short summary of your time here"
		= render :partial => "shared/date_fields", :locals => { :f => f, :hint => "Still studying here?" }
		%div
			= f.submit "Save", :class => "save_button"

%div.spacer
	%br/

%div#sidebar
	%h3 
	
%div#footer