%div#header
	%h1 My Resume

%div#content
	%h3 New education record
	= form_for(@education) do |f|
		%div
			= f.label :major, :class => :hidden
			= f.text_field :major, :class => "title", :title => "Major"
		%div
			= f.label :institution_name, :class => :hidden
			= f.text_field :institution_name, :class => "title", :title => "Institution name"
		%div
			= f.label :location, :class => :hidden
			= f.text_field :location, :class => "title", :title => "Location"
		%div
			= f.label :summary, :class => :hidden
			= f.text_area :summary, :class => "title", :title => "Summary"
		%div#start
			%p Start:
			= f.label :start_month, :class => :hidden
			= f.select :start_month, Date::MONTHNAMES.compact.zip((1..12).entries), { :include_blank => 'Month' }, { :class => "month" }
			= f.label :start_year, :class => :hidden
			= f.select :start_year, (1900..Time.now.year).to_a.reverse, :include_blank => 'Year'
		%div#current
			= f.label :current, "Still at this job?", :class => "checkbox"
			= f.check_box :current, :class => "checkbox"
		%div#end{ :style => "display: none;" }
			%p End:
			= f.label :end_month, :class => :hidden
			= f.select :end_month, Date::MONTHNAMES.compact.zip((1..12).entries), { :include_blank => 'Month' }, { :class => "month" }
			= f.label :end_month, :class => :hidden
			= f.select :end_month, (1900..Time.now.year).to_a.reverse, :include_blank => 'Year'
		%div
			= f.submit "Save", :class => "save_button"

%div.spacer
	%br/

%div#sidebar
	%h3 
	
%div#footer